/*
	GWTEventService Stylesheet (CSS)
*/
body, li, .standardtext {
	background-color: white;
	color: #333333;
	font-family: arial,helvetica,sans-serif;
	font-size: 12px;
}
body {
	margin: 20px;
}
.version {
	background-color: #0099ff;
	color: white;
	font-family: arial,helvetica,sans-serif;
	font-size: 15px;
	font-weight: bold;
	margin: 10px;
}